@charset "utf-8";
*{
	margin: 0;
	padding:0;
}
.box{
	min-width: 280px;
	overflow: hidden;
}
#btn{
	width:40px;
	height:40px;
	position: fixed;
	left:92%;
	bottom: 30px;
	display: none;
	background: url(../img/to-top1.png) no-repeat center left;
	
}
#icon:hover{
	cursor: pointer;
}

#nav_link{
	color: red;
}
